<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1>
                <i class="fa-solid fa-user-plus"></i> &nbsp; Add Contact Page
                

            </h1>
                  
              <p style="text-align: justify">
                This is duplicate app. Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Laudantium, odio molestias nesciunt totam, iure
                libero, facilis architecto porro aut inventore ratione ipsam. Dolorem
                blanditiis quis quisquam sint laboriosam provident molestias. Lorem
                ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, eius.
                Deserunt porro animi nemo illo id facere dolor, quam sit quas temporibus
                tempora eveniet dignissimos dolorem. Illo dolorum ducimus
                necessitatibus?
              </p>
        </div>
    </div>
   <div class="container">
    <div class="row">
        <div class="col-md-4">
          <form >
            
            <div class="mb-2">
                <input name="contactName" [(ngModel)]="contactName" placeholder="Name" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <input placeholder="Photo URL" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <input placeholder="Email ID" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <input placeholder="Mobile Number" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <input placeholder="Company" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <input placeholder="Title" type="text" class="form-control">
            </div>
            <div class="mb-2">
                <select class="form-control">
                    <option value="" selected hidden disabled>Select A Group</option>
                    <option value="{{group.id}}" *ngFor="let group of allGroups" >{{group.name}}</option>
                    
                </select>
            </div>
            <div class="mb-2"> 
                <input (click)="addContact" value="create"type="button" class="btn btn-success">
                <a routerLink="/"class="btn btn-warning ms-3">close</a>
            </div>
          </form>
        </div>
        <div class="col-md-4">
            <img
            src="https://www.shareicon.net/data/2016/07/08/116927_man_512x512.png"
            alt="no image" class="contact_image">
        </div>
    </div>
   </div>




</div>
