<div class="container title mt-3">
  <div class="row">
    <div class="col">
      <h1>
        Contact Management Applications
        <a routerLink="/contacts/add" class="btn btn-success">
          <i class="fa-solid fa-user-plus"></i> &nbsp; Add new</a
        >
      </h1>
      <p style="text-align: justify">
        This is duplicate app. Lorem ipsum dolor, sit amet consectetur
        adipisicing elit. Laudantium, odio molestias nesciunt totam, iure
        libero, facilis architecto porro aut inventore ratione ipsam. Dolorem
        blanditiis quis quisquam sint laboriosam provident molestias. Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Ipsam, eius.
        Deserunt porro animi nemo illo id facere dolor, quam sit quas temporibus
        tempora eveniet dignissimos dolorem. Illo dolorum ducimus
        necessitatibus?
      </p>
      <div class="row">
        <div class="col-6">
          <input (keyup)="search($event)"
            type="text"
            class="form-control"
            placeholder="search contact here"
          />
        </div>
      
      </div>
      
      <!-- <pre>
        {{allContacts | json}}
  </pre> -->

  <!-- card design -->
      <div class="container mt-2">
        <div class="row">
          <div class="col-md-6 mt-3" *ngFor="let contact of allContacts | filter:searchKey:'name' ">
            <div class="card list-group-item-secondary">
              <div class="card-body">
               <div class="row align-items-center">
                <div class="col-md-3">
                    <img height="160px" [src]="contact.photo"
                      alt="no image" class="contact_image"
                    />
                  </div>
                  <div class="col-md-8">
                      <ul class="list-group">
                         
                          <li class="list-group-item">Name:<b>{{contact.name}}</b></li>
                          <li class="list-group-item">Email:<b>{{contact.email}}</b></li>
                          <li class="list-group-item">Mobile:<b>{{contact.mobile}}</b></li>
                       
                        </ul>
                  </div>
                  <div class="col-md-1 d-flex flex-column justiy-content-center align-items-center">
                    <a routerLink="/contacts/view/{{contact.id}}" class="btn btn-warning">
                      <i class="fa-solid fa-eye"></i>
                    </a>
                    <a routerLink="/contacts/edit/:contactId" class="btn btn-success mt-1">
                      <i class="fa-solid fa-pen"></i>
                    </a>
                    <button class="btn btn-danger mt-1">
                      <i class="fa-solid fa-trash"></i>
                    </button>
                  </div>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
